body{
    background-color: black;
    color:white;
    font-family: 'Nunito';
    text-align:center;
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0; 
}
li{
    font-size: 15px;
    margin:10px;
}
ul > li{
    display:inline-block;
}
p{
    margin:5px 0 0 0 ; 
    padding: 0;
}
.footer{
    position: fixed;
    bottom: 0;
    width: 100%;
}
.hypertext{
    color:#4e7cc7;
}

.maintext{
    font-family: 'Josefin Sans', sans-serif; /*delete to common font*/
    font-size: 20px;
    margin: 60px 0 40px 0;
}
.maintext a{
    color:#4e7cc7;
}
.mainimg{
    margin: 100px 0 0 0;
}
.mid{
    margin-top:60px;
}