footer a {
	color: #4e7cc7;
}

footer {
	font-family: "Nunito";
	font-size: 18px;
	color: white;
	text-align: center;
	position: relative;
	left: 50%;
	transform: translateX(-50%);
	bottom: -470px;
}
