body{
    background-color: black;
    color:white;
    font-family: 'Nunito';
    text-align:center;
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0; 
}
li{
    font-size: 15px;
    margin:10px 20px 10px 20px;
}
ul > li{
    display:inline-block;
}
p{
    margin: 0;
    padding: 0;
}
.ila{
    text-decoration: none;
}
.ila:hover{
    color:white;
    text-decoration:underline;
}
p{
    margin:5px 0 0 0 ; 
}
.footer{
    position: fixed;
    bottom: 0;
    width: 100%;
}